.logo,
.logo:hover {
  display: block;
  font-size: 36px;
  padding-left: 73px;
  color: #333;
  text-decoration: none !important;
  height: 72px;
  line-height: 36px;
  font-family: "GehenSans";
  background: url(logo.png) no-repeat;
  font-weight: normal;
  margin-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-bold-blue {
  font-weight: bold;
  color: #0073ae;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-australia {
  font-size: .65em;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
